.Paragraph-title
{
	font-family: lato-n9, sans-serif;
}

.Document-title
{
	font-family: irish-grover-n4, sans-serif;
}

.Normal-paragraph,.Subberheading
{
	font-family: lato-n4, sans-serif;
}

#u180-4
{
	font-family: lato-n4, sans-serif;
}

