.version.index /* version checker */
{
	color: #0000E8;
	background-color: #762425;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3214.7000000000044px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 20px;
	width: 0.01px;
}

#pu96
{
	width: 0.01px;
	margin-left: -100px;
}

#u96
{
	z-index: 2;
	min-height: 209px;
	background-color: #FFCA4F;
	padding-bottom: 312px;
}

#u109-4
{
	z-index: 20;
	width: 708px;
	min-height: 30px;
	background-color: transparent;
	text-align: left;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 122px;
}

#u96-bw
{
	z-index: 2;
	min-height: 209px;
}

#u134
{
	z-index: 3;
	min-height: 883px;
	background-color: #C4D7FF;
	padding-bottom: 48px;
}

#pu168
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 253px;
	margin-left: 122px;
}

#u168
{
	z-index: 24;
	width: 340px;
	background-color: transparent;
	margin-left: 38px;
	position: relative;
}

#u168_clip
{
	overflow: hidden;
	width: 340px;
	height: 219px;
}

#u168_img
{
	margin-top: 10px;
	margin-bottom: -10px;
}

#u135-14
{
	z-index: 4;
	width: 448px;
	min-height: 214px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#pu130-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 178px;
	margin-left: 590px;
}

#u130-6
{
	z-index: 40;
	width: 448px;
	min-height: 233px;
	background-color: transparent;
	position: relative;
}

#u174
{
	z-index: 26;
	width: 221px;
	background-color: transparent;
	margin-left: 113px;
	margin-top: 22px;
	position: relative;
}

#u136-7
{
	z-index: 46;
	width: 448px;
	min-height: 214px;
	background-color: transparent;
	margin-top: 43px;
	position: relative;
}

#u134-bw
{
	z-index: 3;
	min-height: 883px;
	margin-top: 772px;
}

#u186
{
	z-index: 28;
	width: 800px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 372px;
}

#u75-4
{
	z-index: 30;
	width: 960px;
	min-height: 61px;
	background-color: transparent;
	line-height: 77px;
	color: #4F86FF;
	font-size: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 100px;
}

#u129-6
{
	z-index: 34;
	width: 448px;
	min-height: 204px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 832px;
	left: 122px;
}

#u112-8
{
	z-index: 96;
	width: 682px;
	min-height: 255px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 122px;
}

#u112-2
{
	font-size: 16px;
	line-height: 19px;
	font-style: italic;
}

#ppu137-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 59px;
}

#u137-4
{
	z-index: 53;
	width: 448px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
}

#ppu150
{
	width: 0.01px;
	margin-top: 16px;
}

#pu137-4,#pu150
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u150
{
	z-index: 88;
	width: 214px;
	background-color: transparent;
	position: relative;
}

#u150_clip
{
	overflow: hidden;
	width: 214px;
	height: 140px;
}

#u150_img
{
	margin-bottom: -1px;
}

#u139-8
{
	z-index: 67;
	width: 214px;
	min-height: 165px;
	background-color: transparent;
	line-height: 17px;
	margin-top: 24px;
	position: relative;
}

#pu156
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 111px;
	margin-left: 234px;
}

#u156
{
	z-index: 90;
	width: 214px;
	background-color: transparent;
	position: relative;
}

#u138-10
{
	z-index: 57;
	width: 214px;
	min-height: 165px;
	background-color: transparent;
	line-height: 17px;
	margin-top: 23px;
	position: relative;
}

#u139,#u138
{
	font-weight: 700;
}

#pu144-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 468px;
}

#u144-7
{
	z-index: 81;
	width: 448px;
	background-color: transparent;
	position: relative;
}

#u144-4
{
	line-height: 17px;
	color: #000000;
}

#u144-5
{
	color: #000000;
}

#u148
{
	z-index: 19;
	width: 255px;
	min-height: 475px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 96px;
	margin-top: 31px;
	position: relative;
}

#u140
{
	z-index: 18;
	min-height: 482px;
	background-color: #4F86FF;
	padding-bottom: 306px;
}

#u96_align_to_page,#u134_align_to_page,#u140_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u141-6
{
	z-index: 75;
	width: 448px;
	min-height: 150px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 332px;
	left: 356px;
}

#u135-2,#u130-2,#u136-2,#u129-2,#u144-2,#u141-2
{
	line-height: 24px;
}

#u135-4,#u135-5,#u135-7,#u135-8,#u135-10,#u135-11,#u135-12,#u130-4,#u136-4,#u136-5,#u129-4,#u112-3,#u112-5,#u112-6,#u141-4
{
	line-height: 17px;
}

#u140-bw
{
	z-index: 18;
	min-height: 482px;
	margin-top: 98px;
}

#u180-4
{
	z-index: 92;
	width: 214px;
	min-height: 25px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	text-align: right;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 724px;
	margin-top: 17px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

